.border_bottom{
	border-bottom: 2px solid #f4f4f4;
}
.dataTables_processing{
	border:0px;
	/*background-color :#337ab7;
	z-index: 100*/
}
.pointer{
      cursor:pointer;
    }
.header-custom{
  background-image: -webkit-gradient(linear, left top, right top, from(#20b9ae), to(#006fd6)); color: white;
}
.ui-autocomplete-loading {
    background: white url("../../plugins/autocomplete/loader2.gif") right center no-repeat;
}
.ui-autocomplete-loader-center {
    background: white url("../../plugins/autocomplete/loader1.gif") center center no-repeat;
}
.font-italic{
	font-style: italic !important;
}
.bg-dream-blue{	
	background-image: -webkit-gradient(linear, left top, right top, from(#20b9ae), to(#006fd6));
	color:white;
}
.bg-dream-red{
	background-color: #f40404d6;
	color:white;
}
.bg-dream-green {
	background-color: green;
	color:white;
}
.bg-dream-purple {
	background-color: #a612a6;
	color:white;
}
.bg-dream-pink {
	background-color: #D81B60;
	color:white;
}
.bg-dream-maroon {
	background-color: #058ef2;
	color:white;
}
/**/

.skin-blue .main-header .navbar
{
	transition: .5s;
	background-color: #2f638d;
	padding: 10px;
}

.skin-blue .main-header .logo
{
	transition: .5s;
	background-color: #2f638d;	
}

.skin-blue .main-header .navbar .nav>li>a,
.skin-blue .main-header .navbar .sidebar-toggle
{
	transition: .5s;
}

.small-box
{
	border-radius: 5px;
}
.small-box:hover
{
	transform: scale(1) rotate(2deg);
	background-color: #205988 !important;
}


.sidebar-menu>li
{
	font-size: 15px;
	transition: .5s;
}

.sidebar-menu>li a
{
	transition: .2s;
}

.sidebar-menu>li a i
{
	color: #b8c7ce !important;
}

.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li:hover.active>a
{
	background-color: #2f638d;
	border-color: 2px solid #2f638d;
}

.skin-blue .sidebar-menu>li:hover>a
{
	background-color: #000;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header
{
	background-color: #2f638d;
	
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu
{
	border-bottom: 5px solid #2f638d;
}

.skin-blue .main-header .navbar .nav>li>a:hover
{
	background-color: #3673a5;
}

.skin-blue .treeview-menu>li>a
{
    padding-left: 25px;
}

.box
{
	border-top: 3px solid #3673a5;
}

input.form-control
{
	position: relative;
	border-radius: 0;
	padding: 19px 12px;
	/* border-right: 1px solid #3673a5; */
	font-size: 15px;
}



label
{
	font-size: 15px;
}

.userForm .btn
{
	border-radius: 25px;
	display: block;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default
{
	font-size: 14px;
	border-radius: 25px;
	transition: .3s;
	background-color: #2f638d;
	color: #fff;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover
{
	background-color: #3673a5;
}

.sidebar-menu>li
{
	font-size: 14px;
}

.dashboard-page-title
{
	font-size: 40px !important;
	color: #2f638d;
	margin-bottom: 15px !important;
}

.box-header.with-border
{
	padding: 15px;
	
}

.box-header.with-border h3
{
	font-weight: bold;
	font-size: 20px;
	color: #367fa9;
}

.box-header.with-border .btn
{
	border-radius: 25px;
	transition: .3s;
}

.manage-button
{
	position: relative;
}

.manage-button .btn
{
	border-radius: 0;
	transition: .3s;
}


.manage-button ul.dropdown-menu
{
	left: -100px;
	top: -88px;
	border-radius: 5px;
	transition: .3s;
	border: 0;
	border: 2px solid #ccc;
	
}

.manage-button ul.dropdown-menu a
{
	transition: .1s;
	padding: 3px 10px;
	font-size: 15px;
}

.manage-button ul.dropdown-menu a:hover
{
	background-color: #337ab7;
	color: #fff;
}

.skin-blue .sidebar-menu>li>.treeview-menu
{
	padding: 10px 0;
}

.content-header>h1
{
	margin-bottom: 15px !important;
	font-size: 30px !important;
}

.btn
{
	transition: .3s;
}

label.error
{
	color: #f14f32;
	font-weight: 500;
}

input.error
{
	border: 1px solid #f14f32;
}

.invalid-feedback
{
	color: #f14f32;
}

.is-invalid
{
	border: 1px solid #f14f32;
}

/* Delete Button Style  */
.manage-button ul.dropdown-menu button
{
	border: none !important;
	outline: 0;
	width: 100%;
	transition: .1s;
    padding: 3px 15px;
    font-size: 15px;
	text-align: left !important;
	color: #555;
	background-color: #fff;
}

.manage-button ul.dropdown-menu button:hover
{
	background-color: #337ab7;
	color: #fff;
}

.main-footer
{
	background-color: #222d32;
	color: #ccc;
}

.main-footer .fa-heart
{
	animation: heartBeat 1s ease infinite;
}

@keyframes heartBeat {
	0%{
		transform: scale(1);
	}

	50%{
		transform: scale(1.2);
	}

	100%{
		transform: scale(1);
	}
}

.pace .pace-progress
{
	height: 5px !important;
	background-color: #337ab7 !important;
}

.pace .pace-activity
{
	width: 25px !important;
	height: 25px !important;
	border-top-color: #337ab7 !important;
	border-left-color: #337ab7 !important;
	border-width: 4px !important;
}


.box-header.with-border
{
	padding: 15px;
    display: flex;
    justify-content: right;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 15px;
}

.box .button-page-header
{
	margin: 5px;
}

.box .box-title
{
	flex: 1;
}


.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
{
	text-align: left !important;
	padding:7px 10px 
}

.select2-container--default .select2-search--dropdown .select2-search__field
{
	text-align: left !important;
	padding:7px 10px 
}

.select2-results__option[aria-selected]
{
	text-align: left !important;
	padding: 8px 20px;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
{
	padding: 3px 12px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered
{
	margin-top: 1px !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
{
	height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
	height: 32px !important;
    right: 5px !important;
}

.select2-container--default .select2-results>.select2-results__options
{
    border: 2px solid #eee !important;
    border-bottom: 4px solid #337ab7 !important;
    border-right: 2px solid #eee !important;
    border-top: 2px solid #ccc !important;
    border-left: 2px solid #eee !important;
	
}

input[type="time"]
{
	text-align: right !important;
}